<div class="site-footer">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell">
                <ul>
                    <li>
                        <a href="/en/sheet-music/tchaikovsky-pyotr-string-quartet-no3-op30/">
                            Link to Product Page
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/DrewNull/javascript-episerver-ope" target="_blank">
                            GitHub Repository
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            PowerPoint Presentation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>