@using ClassicalMusicShop.Website.Infrastructure.AppMode
@model ClassicalMusicShop.Website.Features.SiteFooter.SiteFooterViewModel

<div class="site-footer">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-12 medium-5 large-3">
                @using (Html.BeginForm("SetAppMode", "SiteFooter", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.CurrentPageLink)
                    <p>App Mode:</p>
                    <p>@Html.EnumDropDownListFor(x => x.AppMode)</p>
                    <p><input type="submit" value="Submit" class="button" /></p>
                }
            </div>
            <div class="cell small-12 medium-5 medium-offset-1 large-3 large-offset-1">
                <p>
                    Links:
                </p>
                <ul>
                    <li>
                        <a href="/en/sheet-music/tchaikovsky-pyotr-string-quartet-no3-op30/">
                            Link to Product Page
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/DrewNull/javascript-episerver-ope" target="_blank">
                            GitHub Repository
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            PowerPoint Presentation
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>