<div class="site-header">
    <div class="site-header__hamburger">
        <a href="#" class="site-header__hamburger-link">
            <i class="fi-list"></i>
        </a>
    </div>
    <div class="site-header__main">
        <a href="/" class="site-header__company-link">
            Null's Classical Music Emporium
        </a>
        @Html.Action("CartPreview", "CartPage")
    </div>
</div>
