<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TBD</title>
</head>
<body>
    <div>
        <header>
            <div>
                Null's Classical Music Emporium
            </div>
        </header>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>

    </div>
</body>
</html>
