<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TBD</title>
</head>
<body>
    <div>
        <header>
            Null's Classical Music Emporium
        </header>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        <footer>
            Site footer goes here
        </footer>
    </div>
</body>
</html>
