@{
    Layout = "~/Features/Layout/Views/RootLayout.cshtml";
}

@section HeadScripts
{

}

@Html.Partial("~/Features/SiteHeader/Views/SiteHeader.cshtml")

<div class="page-content">
    @RenderBody()
</div>

@Html.Action("Render", "SiteFooter")

@section FooterScripts
{
    <script src="~/Static/js/main-react.js"></script>
}