@model ClassicalMusicShop.Website.Features.Cart.CartPreviewViewModel
<div cms-cart-preview class="cart-preview">
    <a href="#" class="cart-preview__link">
        <i class="fi-shopping-cart cart-preview__icon"></i>
        <span style="display:none" v-show="hasItems()">
            <span class="cart-preview__count">
                ({{ count }})
            </span>
            <span class="cart-preview__amount">
                {{ amount }}
            </span>
        </span>
    </a>
</div>